.workout-chart-container {
    display: flex;
    flex-direction: column;
    align-items: flex-center;
    justify-content: center;
    height: 55vh;
    width: 80vh;
    background-color: rgb(69, 19, 46);
    color: white;
    margin-top: 30px;
  }
  
  .navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 25vh;
    background-color: #333;
    color: white;
    padding: 0 2rem;
  }
  
  .navbar a {
    margin-left: 1rem;
    text-decoration: none;
    color: white;
  }
  
  .navbar a:hover {
    color: #ff69b4;
  }
  
  .workout-chart-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 100%;
  }
  
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #333;
    color: white;
    font-size: 0.8rem;
  }
  